html{
    overflow: hidden;
}

body{
    background: url("../assets/images/enseeiht.jpg") no-repeat center fixed;
    background-color: #00AA5F;
}

.login-icon{
    width:100%;
    display:block;
    margin:auto
}

.field{
    margin-top: 20px;
}

.login-rectangle{
    border-radius: 20px !important;
}

.login-button{
    width: 100%;
    font-size: 20px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    background-color: lightgray;
    color: black;
}

.login-button:hover{
    background-color: #00AA5F;
    color: white;
}

.particles{
    width: 100%;
    height: 100%;
    position: fixed;
}

#error-div{
    display: none;
}

.create-account-button{
    margin-top: 10px;
}